<!DOCTYPE html>
<html lang="en"
    th:replace="~{base :: parent(~{::#content},~{::title},~{::script})}">
    <head>
        <title>Signup</title>
    </head>
    <body>
        <div id="content">
            <h1>Welcome to signup page</h1>
            <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Sequi
                placeat incidunt consequatur fugit illo quibusdam quam hic.
                Expedita necessitatibus nisi unde quae, ratione in odit repellat
                illum, eaque itaque magnam.</p>
        </div>
        <script>
            console.log("Signup page");
        </script>
    </body>
</html>