<!DOCTYPE html>
<html lang="en"
    th:replace="~{base :: parent(~{::#content},~{::title},~{::title})}">
    <head>
        <title>Services</title> </head>
    <body>
        <section id="content">
            <h1>Welcome to service page</h1>
            <h2>Services offered by SCM</h2>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Itaque
            voluptatibus est dolor cum porro, a voluptatum corrupti veniam
            numquam quia dolorum minus nesciunt nulla non expedita accusantium
            perferendis dolorem vitae?<10></10>
        </section>

    </body>
</html>

<!-- Using fragment -->
<!-- <div class="host-tag" th:replace="~{base :: parent(~{::#main_tes})}"></div>
        <section id="main_content">
            <div>this is dynamic content</div>
        </section>
            
        <section id="main_tes">
            <div>Hallo Hendro</div>
        </section>
        </div> -->