<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Document</title>
    </head>
    <body>
        <h1> This is services page</h1>
        <hr />

        <!-- Using fragment -->
        <div class="host-tag" th:replace="~{base :: parent(~{::#main_tes})}"></div>
        <section id="main_content">
            <div>this is dynamic content</div>
        </section>
            
        <section id="main_tes">
            <div>Hallo Hendro</div>
        </section>
            

        </div>
    </body>
</html>